
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
}

.slider {
  margin: 0 auto;
  width: 75%;
  overflow: hidden;
  position: relative;
}

.decorate-slider {
    border: 1px solid pink;
    margin: 1em 0;
}

.slider:after,
.slides-wrap:after {
  clear: both;
}
.slider .caption {
  position: relative;
  bottom: 0;
  color: black;
  text-align: left;
}

.slider .slide.active,
.slider .slide-group.active {
  position: relative;
  color: white;
  z-index: 5;
}

/* Set with on .slides-wrap to constrain width of of slide stage */
.slider .slides-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}

.slider .slides-wrap.no-anim {
   -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; 
}

/* no-js control: still show a single image */
.nojs .slide {
  display: none;
}
.nojs .slide:first-child {
  display: block;
  position: relative;
  left: 0;
}
.nojs .nav,
.nojs .pagination {
  display: none;
}

.nav, .pagination {
  text-align: center;
}

.slider .slide,
.slider .slide-group {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 100%;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: white;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* This is for non-dynamic containers - set the width of each slide */
.slider .slide {
  width: 100%;
  margin: 0 auto;
}

/* This is for dynamic containers - set the width of each 'slag' slide */
.slider .slag {
  position: relative;
  float: left;
  margin: 0 2%;
  overflow: hidden;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .slider .slag {
    width: 46%;
  }
}

@media screen and (min-width: 850px) {
  /* This is for dynamic containers - set the width of each 'slag' slide */
  .slider .slag {
    width: 29.33333%;
  }

  /* This is for non-dynamic containers - set the width of each slide */
  .slider .slide {
    width: 100%;
  }
}


/*
  Set a width for images, if you want. 
  If you want them to expand beyond 100% of size, leave blank
  If you want to constrain to max. size, set max-width: 100%;
*/
.slider img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.slider.pagination {
  position: relative;
  width: 100%;
  z-index: 10;
  text-align: center;
  margin: 1em 0;
}

.slider .pagination .active {
  background-color: pink;
}

.pagination__btn {
  margin-right: 1em;
}
