.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
}

.slider {
  margin-top: 1em;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.slider:after,
.slides-wrap:after {
  clear: both;
}
.slider .caption {
  position: relative;
  bottom: 0;
  color: black;
  text-align: left;
}

.slider .slide.active,
.slider .slide-group.active {
  position: relative;
  color: white;
  z-index: 5;
}

/* Set with on .slides-wrap to constrain width of of slide stage */
.slider .slides-wrap {
  position: relative;
  margin: 10px auto 0;
  max-width: 100%;
  -webkit-transition: .75s ;
  -moz-transition: .75s ;
  -o-transition: .75s ;
  transition: .75s ;
}

.slider .slide,
.slider .slide-group {
  list-style: none;
  position: absolute;
  display: block;
  overflow: hidden;
  left: 100%;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: white;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* This is for non-dynamic containers - set the width of each slide */
.slider .slide {
  width: 100%;
  margin: 0 auto;
}

/* This is for dynamic containers - set the width of each 'slag' slide */
.slider .slag {
  position: relative;
  float: left;
  margin: 0 2%;
  overflow: hidden;
  left: 0;
}

@media screen and (min-width: 400px) {
  .slider .slag {
    width: 46%;
  }
}

@media screen and (min-width: 850px) {
  /* This is for dynamic containers - set the width of each 'slag' slide */
  .slider .slag {
    width: 29.33333%;
  }

  /* This is for non-dynamic containers - set the width of each slide */
  .slider .slide {
    width: 50%;
  }
}


/*
  Set a width for images, if you want. 
  If you want them to expand beyond 100% of size, leave blank
  If you want to constrain to max. size, set max-width: 100%;
*/
.slider img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.slide-container .pagination {
  position: relative;
  width: 100%;
  z-index: 10;
  text-align: center;
  margin: 1em 0;
}

.slide-container .pagination .active {
  background-color: pink;
}

.slide-container .nav {
  text-align: center;
}

.pagination__btn {
  margin-right: 1em;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
